body {
    background-color: #002D62;
    width: 100%;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0 0;
}

h1 {
    color: white;
    font-size: 50px;
}

.input {
    width: 450px;
    height: 50px;
    margin: 5px;
    padding: 0px 20px;
    border: 0ch;
    border-radius: 10px;
    background-color: white;
    font-size: 18px;
}

.boton-agregar {
    width: 50px;
    height: 50px;
    margin: 5px;
    border: 0px;
    border-radius: 10px;
    background-color: #A50021;
    color: white;
}

.boton-agregar:hover {
    opacity: 0.9;
}

.item-input {
    height: 50px;
    padding: 0px 20px;
    border: solid 1px white;
    border-radius: 10px;
    font-size: 18px;
    color: white;
    background: none;
}

.item {
    margin-bottom: 10px;
}

.boton-editar {
    margin: 0px 5px;
    border: none;
    background: none;
    color: #62d0ff;
    font-size: 1.4rem;
}

.boton-remover {
    height: 50px;
    width: 50px;
    margin: 0px 5px;
    border: none;
    border-radius: 10px;
    background-color: rgb(255, 6, 46);
    font-size: 20px;
}